{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Listening</title>
</head>
<body>
    <canvas id="myCanvas" width="1536px" height="700px"></canvas>


    <div id="footer">
        <div class="row">
            <div class="choice_path">
                <a href="/home">Главная</a>
                <a href="/products">Категории</a>        
            </div>
            <div class="container" style="width: 0px;">
                <a class="navbar-brand" href="/home" style="margin-left: 240px;">
                    <img src="/media/resource/logo.png" alt="None" width="120" height="62"> ΣEIKX
                </a>
            </div>
        </div>
    </div>

<script src="{% static '/js/gm.js' %}"></script>

</body>
</html>